{% load static %}
<div class="row">
    <div class="nav navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Bit Life</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/profile/" class="nav-link">
                            <i class="fa fa-user-circle-o"></i>&nbsp Hi, {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="/transaction/order/" class="nav-link">&nbsp Create Transaction</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">&nbsp Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>