
body{
	background-color: #333;
	background: url(../media/background.jpeg) no-repeat center center fixed;
	background-size: cover;
}
.navbar{
	border-bottom: #008ed6 3px solid;
}

.dark-overlay{
	background: rgba(0,0,0,0.7);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 700px;
}

._header{
	color: white;
	text-align: center;
	margin: 80px auto 0px auto;
}


.input{
	border-radius: 20px;
}

.detail_row{
	margin: 20px auto 10px auto;
}

.modal {
	width: 350px;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    margin: 100px auto 0px auto;
}

.modal-content{
	border-radius: 20px !important;
}
.modal .card{
	border-radius: 20px !important;
}



.input2{
	border-radius: 0;
	border: 0px;
	border-bottom: 1px solid black;
}

._signup_part{
	margin: 20px auto 0px auto !important;
	text-align: center;
}
#outer{
	margin-top: 100px;
}
#outer ._home_card{
	margin: 10px auto 10px auto;
	padding: 20px;
	opacity: 0.8;
}


#outer .detail_card,.trans_outer{
	margin:10px auto 10px auto;
}

#outer .detail_card{
	padding: 10px;
	max-height: 480px;
	max-width: 330px;
	border-radius: 30px;
}

#outer .user_pic{
	height: 130px;
	width: 130px;
}

#outer .user_info{
	margin-top: 60px; 
}

.trans_card{
	max-width: 350px;
	margin: 10px auto 0px auto;
}

.trans_text{
	width: 200px;
	background: white;
	border-radius: 20px;
	padding: 5px;
}

.card-header{
	margin: 0px !important;
}

.drop_btn{
	background: none;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.congo_card{
	margin: 20px auto 0px auto;
}

._trans_photo{
	max-height: 180px;
	max-width: 180px;
	border-radius: 50%;
}

._trans_container{
	margin: 30px auto 10px auto;
	text-align: center;
}

.amt_bg{
	background: #fff;
	border-radius: 20px;
	padding: 5px;
	max-height: 40px;
	margin: auto auto 10px auto !important;
}
.info_btn{
	border-radius: 50%;
	background: none;
	border: 1px solid black

}

.amt_card{
	border-radius: 50%;
	width: 180px;
	height: 180px;
	margin: auto;
	color: black;
	text-align: center;
	padding-top: 30px;
}

.btn_cross{
	float: right;
	background: none;
	padding: 0px !important;
	border:0px;
	width: 10px;
}