{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div id="outer">
    <div class="inner">
        <div class="container">
            <div class="row _detail_row col-12">
                <div class="card _home_card col-7 col-md-5 col-lg-4 text-center">
                    <br/>
                    <h1 class="display-1" style="color:black">
                        <i class="fa fa-home"></i>
                    </h1>
                    <div>
                        <b>
                            <i>
                                Land Services
                            </i>
                        </b>
                    </div>
                    <br/>
                    <div>
                        <a href="/land/profile/" class="btn btn-outline-primary input">
                            View
                        </a>
                    </div>
                    <br/>
                </div>
                <div class="card _home_card col-7 col-md-5 col-lg-4 text-center">
                    <br/>
                    <h1 class="display-1" style="color:red">
                        <i class="fa fa-heartbeat"></i>
                    </h1>
                    <div>
                        <b>
                            <i>
                                Health Services
                            </i>
                        </b>
                    </div>
                    <br/>
                    <div>
                        <a href="/health/profile/" class="btn btn-outline-primary input">
                            View
                        </a>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="row _detail_row col-12">
                <div class="card _home_card col-7 col-md-5 col-lg-4 text-center">
                    <br/>
                    <img src="{% static "media/emitra_icon.png" %}" class="img-fluid" style="max-height:120px;max-width:120px;margin:auto" />
                    <div>
                        <b>
                            <i>
                                Emitra Services
                            </i>
                        </b>
                    </div>
                    <br/>
                    <div>
                        <a href="/emitra/profile/" class="btn btn-outline-primary input">
                            View
                        </a>
                    </div>
                    <br/>
                </div>
                <div class="card _home_card col-7 col-md-5 col-lg-4 text-center">
                    <br/>
                    <h1 class="display-1" style="color:black">
                        <i class="fa fa-database"></i>
                    </h1>
                    <div>
                        <b>
                            <i>
                                Transaction Records (USER)
                            </i>
                        </b>
                    </div>
                    <br/>
                    <div>
                        <a href="/transaction/profile/" class="btn btn-outline-primary input">
                            View
                        </a>
                    </div>
                    <br/>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}