{% extends "base.html" %} 
{% load static %} 
{% block content %}

<header id="outer">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="trans_outer">
					<div class="row detail_row">
						<div class="card col-12" style="padding:0px !important">
							<div class="card-header">
								<b>
									<u>LandTransactions</u>
								</b>
							</div>
							<div id="list2">
								<div class="card-body">
									<table class="table table-bordered table-hover table-responsive">
										<thead class="table-head">
											<th>DATE</th>
											<th>TITLE</th>
											<th>TRANSACTION ID</th>
											<th>FROM</th>
											<th>TO</th>
											<th>AMOUNT</th>
										</thead>
										<tbody>
											{% for transaction in transactions %}
											<tr>
												<td>{{ transaction.date }}</td>
												<td>{{ transaction.title }}</td>
												<td>
													<b>{{ transaction.transID }}</b>
												</td>
												<td>{{ transaction.sender }}</td>
												<td>{{ transaction.receiver }}</td>
												<td>
													<b>{{ transaction.amount }}</b>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{% endblock content %}