{% extends "base.html" %} 
{% load static %} 
{% block content %}

<header id="outer">
	<div class="inner">
		<div class="container">
			<div class="row">
				<!--<div class="card congo_card" style="border-radius:20px;opacity:0.6">
						<div class="card-body text-center">-->
				<div class="col-10 col-lg-6 text-center" style="color:white;margin:30px auto 0px auto">
					<span class="d-none d-md-block">
						<h1 class="display-4" style="font-family:Algerian">
							<b>
								<i>Payment Successful!</i>
							</b>
						</h1>
					</span>
					<span class="d-none d-sm-block d-md-none">
						<h1 class="display-4" style="font-family:Algerian">
							<b>
								<i>Payment Successful!</i>
							</b>
							</h2>
					</span>
					<span class="d-block d-sm-none">
						<h1 class="display-5" style="font-family:Algerian">
							<i>Payment Successful!</i>
						</h1>
					</span>
					<br/>
					<h1 class="display-1">
						<i class="fa fa-handshake-o"></i>
					</h1>
					<br/>
					<a href="/" class="btn btn-success input">Go to the services >></a>
				</div>
				<!--/div-->
			</div>
		</div>
	</div>
</header>
</div>

{% endblock content %}